.App {
  text-align: center;
  background-color: #F1F1F1;
}

.logo {
  margin-top: 5vh; 
  position: absolute; 
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
}

body {
  background-color: #F1F1F1 !important
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
}

.no-underline:hover {
  text-decoration: none;
}

/***** nav *****/
nav {
  text-align: center;
}
nav img {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/***** homepage *****/
.homepage nav {
  box-shadow: none !important;
  text-align: center;
}
.homepage nav img {
  width: auto;
  display: block;
  margin-bottom: 10px;
}

/***** tickerpage *****/
.tickerpage .price {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 600;
}
.tickerpage .today {
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: -20px;
}
.tickerpage .history span {
  display: inline-block;
  text-align: right
}
.tickerpage .history :nth-child(odd) {
  width: 45px;
}
.tickerpage .history :nth-child(even) {
  width: 80px;
  font-weight: 600;
}

/***** listpage *****/
.listpage .listitem {
  transform: scale(1); transition: transform 0.2s;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.listpage .listitem:hover {
  transform: scale(1.038); transition: transform 0.2s;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.listpage h1::first-letter {
  text-transform: capitalize;
}
.listpage .marketitem {
  display: block;
  font-size: 20px;
  text-align: center;
}




/***** ?????? *****/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}