.App {
  text-align: center;
  background-color: #F1F1F1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #F1F1F1 !important
}

nav {
  text-align: center;
}
nav img {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.homepage nav {
  box-shadow: none !important;
  text-align: center;
}
.homepage nav img {
  width: auto;
  display: block;
  margin-bottom: 10px;
}

.no-underline:hover {
  text-decoration: none;
}

.test {
  white-space: nowrap;
    overflow: hidden;
}



.listitem {
  transform: scale(1); transition: transform 0.2s
}
.listitem:hover {
  transform: scale(1.03); transition: transform 0.2s
}

.logo {
  margin-top: 5vh; 
  position: absolute; 
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}